.actorPreview{
    color: white;
    display: flex;
    flex-direction: column;
}

.actorContainer{
    display: flex;
    flex-direction: column;
    color: white;

}

.actorImage{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 3%;

}

.actorPoster{
    width: 30%;
    height: 4%;
}

.actorInfo{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    justify-content: top;
    color: white;
    align-items:center;
    font-size:1.5em;
}

.actorAge{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.actorHome{
    padding-left: 70%;
}

.actorOverview{
    margin-right: 5%;

}


.actorOverview{
    margin-top: 10%;
}

