*{
    margin:0;
}

#Header{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 12.5% 12.5% 50% 25%;
    margin: 0;
}

.Header{
    background-color: black;
}

#Home{
    display: flex;
    align-items: center;

}

#Mode{
    display: flex;
    align-items: center;
}

#ModeIcon{
    height: 1.5vw;
}

.modeIcon{ 
    filter: invert(97%) sepia(8%) saturate(2%) hue-rotate(299deg) brightness(119%) contrast(100%);
}


#Input{
    display: flex;
    margin: auto;

}

#Search{
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   border-bottom-style: groove;
   border-bottom-color:white;
}

.Search{
    background-color: #000000;
    color: white;
}

#SearchIcon{
    height: 1.1vw;
    padding-right: 1vw;
    border-bottom-color:white;   
}

.SearchIcon{
    filter: invert(97%) sepia(8%) saturate(2%) hue-rotate(299deg) brightness(119%) contrast(100%);
} 

#Login{
    display: flex;
    justify-content: right;
    padding-right: 10%;
    align-items: center;
}

#LoginIcon{
    height: 1.5vw;
}

.LoginIcon{
    filter: invert(97%) sepia(8%) saturate(2%) hue-rotate(299deg) brightness(119%) contrast(100%);
}



#HomeIcon{
    height: 1.5vw;
}

.HomeIcon{ 
    filter: invert(97%) sepia(8%) saturate(2%) hue-rotate(299deg) brightness(119%) contrast(100%);
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    filter: invert(97%) sepia(8%) saturate(2%) hue-rotate(299deg) brightness(119%) contrast(100%);
    height: 1.5vw;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2%;
    margin-left: 40%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: inherit;}

  .light{
    background-color: white;
    color: black;
  }
  .invert{
    filter: none;
}